.Mode_DARK {
    margin-left: 0.5px;
    margin-right: 0.5px;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    padding-left: 0.5px;
    padding-right: 0.5px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    -unity-text-align: middle-center;
    font-size: 12px;
    -unity-font-style: normal;
    white-space: normal;
    -unity-font: url('project://database/Assets/Taylor%20Made%20Code/Taylor%20Made%20Code%20Core/Art/Fonts/ROBOTO_MEDIUM.ttf?fileID=12800000&guid=d086ecaf99f12448b8cb6f9b1fcf3875&type=3#ROBOTO_MEDIUM');
}

.Colour_Design_DARK_1_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(102, 102, 102);
}

.Colour_Design_DARK_1_Background_Colour {
    background-color: rgb(102, 102, 102);
}

.Colour_Design_DARK_1_Boarder_Colour {
    border-left-color: rgb(102, 102, 102);
    border-right-color: rgb(102, 102, 102);
    border-top-color: rgb(145, 145, 102);
    border-bottom-color: rgb(102, 102, 102);
}

.Colour_Design_DARK_1_Selected_Boarder_Colour_Left {
    border-left-color: rgb(102, 102, 102);
}

.Colour_Design_DARK_1_Selected_Boarder_Colour_Right {
    border-right-color: rgb(102, 102, 102);
}

.Colour_Design_DARK_1_Selected_Boarder_Colour_Top {
    border-top-color: rgb(145, 145, 102);
}

.Colour_Design_DARK_1_Selected_Boarder_Colour_Bottom {
    border-bottom-color: rgb(102, 102, 102);
}

.Colour_Design_DARK_1_Text_Colour {
    color: rgb(102, 102, 102);
}

.Colour_Design_DARK_1_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(102, 102, 102);
}

.Colour_Design_DARK_2_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(145, 145, 145);
}

.Colour_Design_DARK_2_Background_Colour {
    background-color: rgb(145, 145, 145);
}

.Colour_Design_DARK_2_Boarder_Colour {
    border-left-color: rgb(145, 145, 145);
    border-right-color: rgb(145, 145, 145);
    border-top-color: rgb(145, 145, 145);
    border-bottom-color: rgb(145, 145, 145);
}

.Colour_Design_DARK_2_Border_Colour_Left {
    border-left-color: rgb(145, 145, 145);
}

.Colour_Design_DARK_2_Border_Colour_Right {
    border-right-color: rgb(145, 145, 145);
}

.Colour_Design_DARK_2_Border_Colour_Top {
    border-top-color: rgb(145, 145, 145);
}

.Colour_Design_DARK_2_Border_Colour_Bottom {
    border-bottom-color: rgb(145, 145, 145);
}

.Colour_Design_DARK_2_Text_Colour {
    color: rgb(145, 145, 145);
}

.Colour_Design_DARK_2_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(145, 145, 145);
}

.Colour_Design_DARK_3_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(216, 216, 216);
}

.Colour_Design_DARK_3_Background_Colour {
    background-color: rgb(216, 216, 216);
}

.Colour_Design_DARK_3_Boarder_Colour {
    border-left-color: rgb(216, 216, 216);
    border-right-color: rgb(216, 216, 216);
    border-top-color: rgb(216, 216, 216);
    border-bottom-color: rgb(216, 216, 216);
}

.Colour_Design_DARK_3_Selected_Boarder_Colour_Left {
    border-left-color: rgb(216, 216, 216);
}

.Colour_Design_DARK_3_Selected_Boarder_Colour_Right {
    border-right-color: rgb(216, 216, 216);
}

.Colour_Design_DARK_3_Selected_Boarder_Colour_Top {
    border-top-color: rgb(216, 216, 216);
}

.Colour_Design_DARK_3_Selected_Boarder_Colour_Bottom {
    border-bottom-color: rgb(216, 216, 216);
}

.Colour_Design_DARK_3_Text_Colour {
    color: rgb(216, 216, 216);
}

.Colour_Design_DARK_3_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(216, 216, 216);
}

.Colour_Design_DARK_4_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(240, 240, 240);
}

.Colour_Design_DARK_4_Background_Colour {
    background-color: rgb(240, 240, 240);
}

.Colour_Design_DARK_4_Boarder_Colour {
    border-left-color: rgb(240, 240, 240);
    border-right-color: rgb(240, 240, 240);
    border-top-color: rgb(240, 240, 240);
    border-bottom-color: rgb(240, 240, 240);
}

.Colour_Design_DARK_4_Border_Colour_Left {
    border-left-color: rgb(240, 240, 240);
}

.Colour_Design_DARK_4_Border_Colour_Right {
    border-right-color: rgb(240, 240, 240);
}

.Colour_Design_DARK_4_Border_Colour_Top {
    border-top-color: rgb(240, 240, 240);
}

.Colour_Design_DARK_4_Border_Colour_Bottom {
    border-bottom-color: rgb(240, 240, 240);
}

.Colour_Design_DARK_4_Text_Colour {
    color: rgb(240, 240, 240);
}

.Colour_Design_DARK_4_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(240, 240, 240);
}

.Colour_Design_DARK_Selected_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(79, 101, 127);
}

.Colour_Design_DARK_Selected_Background_Colour {
    background-color: rgb(79, 101, 127);
}

.Colour_Design_DARK_Selected_Boarder_Colour {
    border-left-color: rgb(79, 101, 127);
    border-right-color: rgb(79, 101, 127);
    border-top-color: rgb(79, 101, 127);
    border-bottom-color: rgb(79, 101, 127);
}

.Colour_Design_DARK_Selected_Boarder_Colour_Left {
    border-left-color: rgb(79, 101, 127);
}

.Colour_Design_DARK_Selected_Boarder_Colour_Right {
    border-right-color: rgb(79, 101, 127);
}

.Colour_Design_DARK_Selected_Boarder_Colour_Top {
    border-top-color: rgb(79, 101, 127);
}

.Colour_Design_DARK_Selected_Boarder_Colour_Bottom {
    border-bottom-color: rgb(79, 101, 127);
}

.Colour_Design_DARK_Selected_Text_Colour {
    color: rgb(79, 101, 127);
}

.Colour_Design_DARK_Selected_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(79, 101, 127);
}

.Mode_LIGHT {
    margin-left: 0.5px;
    margin-right: 0.5px;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    padding-left: 0.5px;
    padding-right: 0.5px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    -unity-text-align: middle-center;
    font-size: 12px;
    -unity-font-style: normal;
    white-space: normal;
    -unity-font: url('project://database/Assets/Taylor%20Made%20Code/Taylor%20Made%20Code%20Core/Art/Fonts/ROBOTO_MEDIUM.ttf?fileID=12800000&guid=d086ecaf99f12448b8cb6f9b1fcf3875&type=3#ROBOTO_MEDIUM');
}

.Colour_Design_LIGHT_1_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(165, 165, 165);
}

.Colour_Design_LIGHT_1_Background_Colour {
    background-color: rgb(165, 165, 165);
}

.Colour_Design_LIGHT_1_Boarder_Colour {
    border-left-color: rgb(165, 165, 165);
    border-right-color: rgb(165, 165, 165);
    border-top-color: rgb(165, 165, 165);
    border-bottom-color: rgb(165, 165, 165);
}

.Colour_Design_LIGHT_1_Border_Colour_Left {
    border-left-color: rgb(165, 165, 165);
}

.Colour_Design_LIGHT_1_Border_Colour_Right {
    border-right-color: rgb(165, 165, 165);
}

.Colour_Design_LIGHT_1_Border_Colour_Top {
    border-top-color: rgb(165, 165, 165);
}

.Colour_Design_LIGHT_1_Border_Colour_Bottom {
    border-bottom-color: rgb(165, 165, 165);
}

.Colour_Design_LIGHT_1_Text_Colour {
    color: rgb(165, 165, 165);
}

.Colour_Design_LIGHT_1_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(165, 165, 165);
}

.Colour_Design_LIGHT_2_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(200, 200, 200);
}

.Colour_Design_LIGHT_2_Background_Colour {
    background-color: rgb(200, 200, 200);
}

.Colour_Design_LIGHT_2_Boarder_Colour {
    border-left-color: rgb(200, 200, 200);
    border-right-color: rgb(200, 200, 200);
    border-top-color: rgb(200, 200, 200);
    border-bottom-color: rgb(200, 200, 200);
}

.Colour_Design_LIGHT_2_Border_Colour_Left {
    border-left-color: rgb(200, 200, 200);
}

.Colour_Design_LIGHT_2_Border_Colour_Right {
    border-right-color: rgb(200, 200, 200);
}

.Colour_Design_LIGHT_2_Border_Colour_Top {
    border-top-color: rgb(200, 200, 200);
}

.Colour_Design_LIGHT_2_Border_Colour_Bottom {
    border-bottom-color: rgb(200, 200, 200);
}

.Colour_Design_LIGHT_2_Text_Colour {
    color: rgb(200, 200, 200);
}

.Colour_Design_LIGHT_2_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(200, 200, 200);
}

.Colour_Design_LIGHT_3_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(239, 239, 239);
}

.Colour_Design_LIGHT_3_Background_Colour {
    background-color: rgb(239, 239, 239);
}

.Colour_Design_LIGHT_3_Boarder_Colour {
    border-left-color: rgb(239, 239, 239);
    border-right-color: rgb(239, 239, 239);
    border-top-color: rgb(239, 239, 239);
    border-bottom-color: rgb(239, 239, 239);
}

.Colour_Design_LIGHT_3_Border_Colour_Left {
    border-left-color: rgb(239, 239, 239);
}

.Colour_Design_LIGHT_3_Border_Colour_Right {
    border-right-color: rgb(239, 239, 239);
}

.Colour_Design_LIGHT_3_Border_Colour_Top {
    border-top-color: rgb(239, 239, 239);
}

.Colour_Design_LIGHT_3_Border_Colour_Bottom {
    border-bottom-color: rgb(239, 239, 239);
}

.Colour_Design_LIGHT_3_Text_Colour {
    color: rgb(239, 239, 239);
}

.Colour_Design_LIGHT_3_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(239, 239, 239);
}

.Colour_Design_LIGHT_4_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(243, 243, 243);
}

.Colour_Design_LIGHT_4_Background_Colour {
    background-color: rgb(243, 243, 243);
}

.Colour_Design_LIGHT_4_Boarder_Colour {
    border-left-color: rgb(243, 243, 243);
    border-right-color: rgb(243, 243, 243);
    border-top-color: rgb(243, 243, 243);
    border-bottom-color: rgb(243, 243, 243);
}

.Colour_Design_LIGHT_4_Border_Colour_Left {
    border-left-color: rgb(243, 243, 243);
}

.Colour_Design_LIGHT_4_Border_Colour_Right {
    border-right-color: rgb(243, 243, 243);
}

.Colour_Design_LIGHT_4_Border_Colour_Top {
    border-top-color: rgb(243, 243, 243);
}

.Colour_Design_LIGHT_4_Border_Colour_Bottom {
    border-bottom-color: rgb(243, 243, 243);
}

.Colour_Design_LIGHT_4_Text_Colour {
    color: rgb(243, 243, 243);
}

.Colour_Design_LIGHT_4_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(243, 243, 243);
}

.Colour_Design_LIGHT_Selected_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(176, 210, 252);
}

.Colour_Design_LIGHT_Selected_Background_Colour {
    background-color: rgb(176, 210, 252);
}

.Colour_Design_LIGHT_Selected_Boarder_Colour {
    border-left-color: rgb(176, 210, 252);
    border-right-color: rgb(176, 210, 252);
    border-top-color: rgb(176, 210, 252);
    border-bottom-color: rgb(176, 210, 252);
}

.Colour_Design_LIGHT_Selected_Boarder_Colour_Left {
    border-left-color: rgb(176, 210, 252);
}

.Colour_Design_LIGHT_Selected_Boarder_Colour_Right {
    border-right-color: rgb(176, 210, 252);
}

.Colour_Design_LIGHT_Selected_Boarder_Colour_Top {
    border-top-color: rgb(176, 210, 252);
}

.Colour_Design_LIGHT_Selected_Boarder_Colour_Bottom {
    border-bottom-color: rgb(176, 210, 252);
}

.Colour_Design_LIGHT_Selected_Text_Colour {
    color: rgb(176, 210, 252);
}

.Colour_Design_LIGHT_Selected_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(176, 210, 252);
}

.Free_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(22, 219, 0);
}

.Free_Background_Colour {
    background-color: rgb(22, 219, 0);
}

.Free_Boarder_Colour {
    border-left-color: rgb(22, 219, 0);
    border-right-color: rgb(22, 219, 0);
    border-top-color: rgb(22, 219, 0);
    border-bottom-color: rgb(22, 219, 0);
}

.Free_Border_Colour_Left {
    border-left-color: rgb(22, 219, 0);
}

.Free_Border_Colour_Right {
    border-right-color: rgb(22, 219, 0);
}

.Free_Border_Colour_Top {
    border-top-color: rgb(22, 219, 0);
}

.Free_Border_Colour_Bottom {
    border-bottom-color: rgb(22, 219, 0);
}

.Free_Text_Colour {
    color: rgb(22, 219, 0);
}

.Free_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(22, 219, 0);
}

.Normal_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(0, 180, 252);
}

.Normal_Background_Colour {
    background-color: rgb(0, 180, 252);
}

.Normal_Boarder_Colour {
    border-left-color: rgb(0, 180, 252);
    border-right-color: rgb(0, 180, 252);
    border-top-color: rgb(0, 180, 252);
    border-bottom-color: rgb(0, 180, 252);
}

.Normal_Border_Colour_Left {
    border-left-color: rgb(0, 180, 252);
}

.Normal_Border_Colour_Right {
    border-right-color: rgb(0, 180, 252);
}

.Normal_Border_Colour_Top {
    border-top-color: rgb(0, 180, 252);
}

.Normal_Border_Colour_Bottom {
    border-bottom-color: rgb(0, 180, 252);
}

.Normal_Text_Colour {
    color: rgb(0, 180, 252);
}

.Normal_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(0, 180, 252);
}

.Pro_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(227, 0, 23);
}

.Pro_Background_Colour {
    background-color: rgb(227, 0, 23);
}

.Pro_Boarder_Colour {
    border-left-color: rgb(227, 0, 23);
    border-right-color: rgb(227, 0, 23);
    border-top-color: rgb(227, 0, 23);
    border-bottom-color: rgb(227, 0, 23);
}

.Pro_Border_Colour_Left {
    border-left-color: rgb(227, 0, 23);
}

.Pro_Border_Colour_Right {
    border-right-color: rgb(227, 0, 23);
}

.Pro_Border_Colour_Top {
    border-top-color: rgb(227, 0, 23);
}

.Pro_Border_Colour_Bottom {
    border-bottom-color: rgb(227, 0, 23);
}

.Pro_Text_Colour {
    color: rgb(227, 0, 23);
}

.Pro_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(227, 0, 23);
}

.System_Image_Tint_Colour {
    -unity-background-image-tint-color: rgb(231, 204, 0);
}

.System_Background_Colour {
    background-color: rgb(231, 204, 0);
}

.System_Boarder_Colour {
    border-left-color: rgb(231, 204, 0);
    border-right-color: rgb(231, 204, 0);
    border-top-color: rgb(231, 204, 0);
    border-bottom-color: rgb(231, 204, 0);
}

.System_Border_Colour_Left {
    border-left-color: rgb(231, 204, 0);
}

.System_Border_Colour_Right {
    border-right-color: rgb(231, 204, 0);
}

.System_Border_Colour_Top {
    border-top-color: rgb(231, 204, 0);
}

.System_Border_Colour_Bottom {
    border-bottom-color: rgb(231, 204, 0);
}

.System_Text_Colour {
    color: rgb(231, 204, 0);
}

.System_Text_Boarder_Outline {
    -unity-text-outline-color: rgb(231, 204, 0);
}

.Aligned_Middle {
    align-items: center;
    justify-content: center;
}

.Aligned_Right {
    align-items: flex-end;
    justify-content: center;
}

.Column_1 {
    width: 100%;
    height: 100%;
}

.Column_2 {
    width: 50%;
    height: 100%;
}

.Column_3 {
    width: 30%;
    height: 100%;
}

.Column_4 {
    width: 25%;
    height: 100%;
}

.Column_5 {
    width: 20%;
    height: 100%;
}

.Column_10 {
    width: 10%;
    height: 100%;
}

.Height_25px {
    height: 25px;
}

.Height_50px {
    height: 50px;
}

.Height_75px {
    height: 75px;
}

.Height_100px {
    height: 100px;
}

.Height_125px {
    height: 125px;
}

.Height_150px {
    height: 150px;
}

.Height_175px {
    height: 175px;
}

.Height_200px {
    height: 200px;
}

.Height_225px {
    height: 225px;
}

.Height_250px {
    height: 250px;
}

.Horizonal_Group {
    flex-direction: row;
}

.Image_Scale_and_Crop {
    -unity-background-scale-mode: scale-to-fit;
}

.Image_Scale_To_Fit {
    -unity-background-scale-mode: scale-to-fit;
}

.Image_Colour_Product_Free {
    -unity-background-image-tint-color: rgb(52, 168, 83);
}

.Image_Colour_Normal_Product {
    -unity-background-image-tint-color: rgb(66, 133, 244);
}

.Image_Colour_Pro_Product {
    -unity-background-image-tint-color: rgb(234, 67, 53);
}

.Image_Colour_System_Product {
    -unity-background-image-tint-color: rgb(251, 188, 5);
}

.Border_Radius_5px {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Border_Radius_5px_top_left {
    border-top-left-radius: 5px;
}

.Border_Radius_5px_top_right {
    border-top-right-radius: 5px;
}

.Border_Radius_5px_bottom_left {
    border-bottom-left-radius: 5px;
}

.Border_Radius_5px_bottom_right {
    border-bottom-right-radius: 5px;
}

.Border_Radius_10px {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Border_Radius_10px_top_left {
    border-top-left-radius: 10px;
}

.Border_Radius_10px_top_right {
    border-top-right-radius: 10px;
}

.Border_Radius_10px_bottom_left {
    border-bottom-left-radius: 10px;
}

.Border_Radius_10px_bottom_right {
    border-bottom-right-radius: 10px;
}

.Border_Radius_15px {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.Border_Radius_15px_top_left {
    border-top-left-radius: 15px;
}

.Border_Radius_15px_top_right {
    border-top-right-radius: 15px;
}

.Border_Radius_15px_bottom_left {
    border-bottom-left-radius: 15px;
}

.Border_Radius_15px_bottom_right {
    border-bottom-right-radius: 15px;
}

.Border_Radius_20px {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Border_Radius_20px_top_left {
    border-top-left-radius: 20px;
}

.Border_Radius_20px_top_right {
    border-top-right-radius: 20px;
}

.Border_Radius_20px_bottom_left {
    border-bottom-left-radius: 20px;
}

.Border_Radius_20px_bottom_right {
    border-bottom-right-radius: 20px;
}

.Border_Radius_25px {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.Border_Radius_25px_top_left {
    border-top-left-radius: 25px;
}

.Border_Radius_25px_top_right {
    border-top-right-radius: 25px;
}

.Border_Radius_25px_bottom_left {
    border-bottom-left-radius: 25px;
}

.Border_Radius_25px_bottom_right {
    border-bottom-right-radius: 25px;
}

.Margin_5px {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Margin_5px_left {
    margin-left: 5px;
}

.Margin_5px_right {
    margin-right: 5px;
}

.Margin_5px_top {
    margin-top: 5px;
}

.Margin_5px_bottom {
    margin-bottom: 5px;
}

.Margin_10px {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Margin_10px_top {
    margin-top: 10px;
}

.Margin_10px_right {
    margin-right: 10px;
}

.Margin_10px_bottom {
    margin-bottom: 10px;
}

.Margin_10px_left {
    margin-left: 10px;
}

.Margin_15px {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Margin_15px_top {
    margin-top: 15px;
}

.Margin_15px_right {
    margin-right: 15px;
}

.Margin_15px_bottom {
    margin-bottom: 15px;
}

.Margin_15px_left {
    margin-left: 15px;
}

.Margin_20px {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Margin_20px_top {
    margin-top: 20px;
}

.Margin_20px_right {
    margin-right: 20px;
}

.Margin_20px_bottom {
    margin-bottom: 20px;
}

.Margin_20px_left {
    margin-left: 20px;
}

.Margin_25px {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.Margin_25px_top {
    margin-top: 25px;
}

.Margin_25px_right {
    margin-right: 25px;
}

.Margin_25px_bottom {
    margin-bottom: 25px;
}

.Margin_25px_left {
    margin-left: 25px;
}

.Padding_5px {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Padding_5px_Left {
    padding-left: 5px;
}

.Padding_5px_Right {
    padding-right: 5px;
}

.Padding_5px_Top {
    padding-top: 5px;
}

.Padding_5px_Bottom {
    padding-bottom: 5px;
}

.Padding_10px {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Padding_10px_top {
    padding-top: 10px;
}

.Padding_10px_right {
    padding-right: 10px;
}

.Padding_10px_bottom {
    padding-bottom: 10px;
}

.Padding_10px_left {
    padding-left: 10px;
}

.Padding_15px {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Padding_15px_top {
    padding-top: 15px;
}

.Padding_15px_right {
    padding-right: 15px;
}

.Padding_15px_bottom {
    padding-bottom: 15px;
}

.Padding_15px_left {
    padding-left: 15px;
}

.Padding_20px {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Padding_20px_top {
    padding-top: 20px;
}

.Padding_20px_right {
    padding-right: 20px;
}

.Padding_20px_bottom {
    padding-bottom: 20px;
}

.Padding_20px_left {
    padding-left: 20px;
}

.Padding_25px {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.Padding_25px_top {
    padding-top: 25px;
}

.Padding_25px_right {
    padding-right: 25px;
}

.Padding_25px_bottom {
    padding-bottom: 25px;
}

.Header_1 {
    font-size: 50px;
    -unity-text-align: middle-center;
    -unity-font: initial;
    align-items: center;
    justify-content: center;
}

.Header_2 {
    font-size: 45px;
    -unity-text-align: middle-center;
    -unity-font: initial;
    align-items: center;
    justify-content: center;
}

.Header_3 {
    font-size: 40px;
    -unity-text-align: middle-center;
    -unity-font: initial;
    align-items: center;
    justify-content: center;
}

.Header_4 {
    font-size: 35px;
    -unity-text-align: middle-center;
    -unity-font: initial;
    align-items: center;
    justify-content: center;
}

.Header_5 {
    font-size: 30px;
    -unity-text-align: middle-center;
    -unity-font: initial;
    align-items: center;
    justify-content: center;
}

.Header_6 {
    font-size: 25px;
    -unity-text-align: middle-center;
    -unity-font: initial;
    align-items: center;
    justify-content: center;
}

.Header_7 {
    font-size: 20px;
    -unity-text-align: middle-center;
    -unity-font: initial;
    align-items: center;
    justify-content: center;
}

.Bold {
    -unity-font-style: bold;
}

.Italic {
    -unity-font-style: italic;
}

.Flex_Wrap {
    flex-wrap: wrap;
}

.Flex_Wrap_Reverse {
    flex-wrap: wrap-reverse;
}
